.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1070px;
  min-height: 100vh;
  margin: 0 auto;
}

.search-form {
  display: flex;
  width: 100%;
  max-width: 615px;
}

.search-form--centered {
  margin: auto;
}

.search-form--on-top {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
}

.search-form__field {
  flex-grow: 1;
  max-width: 540px;
  margin-right: 23px;
  padding: 15px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 25px;
}

.search-form__btn {
  width: 51px;
  height: 51px;
  padding: 0;
  font-size: 0;
  background-color: #8b21ae;
  background-image: url("./img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 668px) {
  .container {
    padding: 0 20px;
  }
}
