.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1145px;
  min-height: 100vh;
  margin: 0 auto;
}

.search-form {
  display: flex;
  width: 100%;
  max-width: 615px;
}

.search-form--centered {
  margin: auto;
}

.search-form--on-top {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 45px;
}

.search-form__field {
  flex-grow: 1;
  max-width: 540px;
  min-width: 200px;
  margin-right: 23px;
  padding: 15px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 25px;
}

.search-form__btn {
  width: 51px;
  height: 51px;
  padding: 0;
  font-size: 0;
  background-color: #8b21ae;
  background-image: url("./img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.request {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 32px;
}

.book-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.book-list__item {
  margin-right: 30px;
  margin-bottom: 70px;
}

.book-list__item:nth-child(5n) {
  margin-right: 0;
}

.book {
  display: flex;
  width: 205px;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

.book__cover {
  display: flex;
  width: 100%;
  height: 265px;
  margin-bottom: 19px;
  border-radius: 10px;
  background-color: #deb7eb;
  background-image: url("./img/icon-book.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.book__cover-img {
  width: 100%;
  height: auto;
}

.book__cover-title {
  margin: auto;
  margin-top: 172px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.book__author {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #6e6e6e;
}

.book__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 950px;
    padding: 0 20px;
  }

  .book-list__item:nth-child(5n) {
    margin-right: 30px;
  }

  .book-list__item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (max-width: 974px) {
  .container {
    max-width: 715px;
    padding: 0 20px;
  }

  .book-list__item:nth-child(4n) {
    margin-right: 30px;
  }

  .book-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 739px) {
  .container {
    max-width: 480px;
    padding: 0 20px;
  }

  .book-list__item:nth-child(3n) {
    margin-right: 30px;
  }

  .book-list__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 499px) {
  .container {
    max-width: 320px;
    padding: 0 20px;
  }

  .book-list {
    flex-direction: column;
    align-items: center;
  }

  .book-list__item,
  .book-list__item:nth-child(3n),
  .book-list__item:nth-child(5n) {
    margin-right: 0;
  }
}
